*{
padding: 0;
margin: 0;
box-sizing: border-box;}

#body_home 
{background-color: #FFAECD;} /* Cor de fundo do site */

nav ul {list-style: none; margin: 0; padding: 0; background-color: #0C3A54;} /*lista não ordenada de navegação 1*/
nav li {display: inline-block;} /*posicionar os itens da lista*/
nav li a {display: block; color: whitesmoke; text-align: center; padding: 14px 17px; text-decoration: none;}
nav li a:hover {background-color: #e6dfe2;} /*atributo usado quando passamos o cursor do mouse por cima de algum elemento na página html, e com isso aplicamos estilos sobre ele*/


.slider
{display: block; height: 293px; width: 600px; margin: auto; margin-top: 20px; position: relative;}
.slider li{list-style: none; position: absolute;}
.slider img{margin:auto; height: 100%; width: 100%; vertical-align: top;}
slider input {display: none;}
.slider label{background-color: #FFAECD; bottom: 10px; cursor: pointer; display: block; height: 10px; position:absolute; width: 10px; z-index: 10;}
.slider li:nth-child(1) label{left: 10px;}
.slider li:nth-child(2) label{left: 40px;}
.slider li:nth-child(3) label{left: 70px;}
.slider img{opacity: 0; visibility: hidden;}
.slider li input:checked ~ img{opacity: 1;visibility :visible;z-index: 10;}

article{text-align: center;} 
section{text-align: center;}

#body_rodape
{background-color: #0C3A54;text-align: center;font-size: 14px; padding: 20px; display: flex; justify-content: space-between;}
.color-link{color: white;}

body {font-family: 'Lilita One', sans-serif;}

nav.menu-estampas {width: 100%;background-color: white;}
nav.menu-estampas .color-link2 ul li a {color: #0C3A54;}

footer { /* fixar o rodapé no final da pagina*/
    position: fixed;
    left: 0px;
    bottom:0px;
    width: 100%;
    height:30px;}

/* configuração da minha tabela */
table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color:#0C3A54;
    color: #fff;
}

caption {
    border: 1px solid black;
    padding: 8px;
    background-color: #0C3A54;
    color: white;
}